.homepage {
  &__dogs {
    width: 80%;
    max-height: 80vh;
    overflow: scroll;
    overflow-x: hidden;
    margin: 10vh auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
  }
}
